*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
ol,
ul {
  list-style: none;
}
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: $primary-text-color;
}
button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: $primary-text-color;
}
html {
  color: $primary-text-color;
  font-family: $font-primary;
}
body {
  min-height: 100vh;
}
