@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

ol,
ul {
  list-style: none;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #ffffff;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  color: #ffffff;
}

html {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
}

.profile {
  display: none;
}
@media all and (min-width: 769px) {
  .profile {
    display: flex;
    flex-direction: column;
    background: #000000;
    align-items: center;
    width: 20vw;
    height: 95vh;
    padding: 3.5rem 0;
  }
  .profile-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .profile-header-image {
    width: 20%;
    height: auto;
    position: relative;
  }
  .profile-header-image img {
    border-radius: 50%;
    width: 95%;
    object-fit: cover;
  }
  .profile-header-bio {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .profile-body {
    margin: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  .profile-body-text {
    width: 80%;
  }
}

.header {
  position: sticky;
  top: 0;
  z-index: 999;
  background: #000000;
  display: grid;
  grid-template-columns: 50px 75px 1fr 65px;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 100%;
  min-height: 5vh;
}
.header .sidebar-button {
  display: flex;
  justify-content: center;
  max-width: 50px;
  cursor: pointer;
}
.header .logo {
  display: flex;
  justify-content: center;
  max-width: 75px;
  cursor: pointer;
}
.header .space {
  width: 200%;
}
.header .user-account-button {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.header .user-account-button .dropdown-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem;
}

.sidebar {
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0rem 1.5rem;
  width: 12%;
  min-width: 200px;
  min-height: 100vh;
}
.sidebar-header {
  padding: 2rem 0rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.sidebar-body-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sidebar-body-menu-list {
  display: flex;
  gap: 1rem;
  font-size: 1.15rem;
  align-items: center;
  cursor: pointer;
}
.sidebar-active {
  opacity: 1;
  transition: all 0.5s ease;
}
.sidebar-inactive {
  opacity: 0;
  transform: translate(-100%, 0);
  transition: all 0.5s ease;
}

.landing {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.landing-image {
  display: none;
}
@media all and (min-width: 769px) {
  .landing-image {
    display: flex;
  }
}
.landing-form {
  display: flex;
  background: #fec805;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.landing-form-logo {
  width: 100%;
  display: flex;
  justify-content: center;
}
.landing-form-header {
  margin: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
.landing-form-header h1 {
  color: #000000;
  font-size: 2rem;
  font-weight: 800;
}
.landing-form-header h2 {
  font-size: 1.2rem;
  font-weight: 500;
}
.landing-form > button {
  background: #000000;
  border-radius: 0.35rem;
  padding: 0.85rem 3rem;
  font-size: 1.15rem;
}

/*# sourceMappingURL=style.css.map */
