.sidebar {
  background: $primary-color;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 0rem 1.5rem;
  width: 12%;
  min-width: 200px;
  min-height: 100vh;
  &-header {
    padding: 2rem 0rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &-body {
    &-menu {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &-list {
        display: flex;
        gap: 1rem;
        font-size: 1.15rem;
        align-items: center;
        cursor: pointer;
        &:hover {
          color: $tertiary-color;
        }
      }
    }
  }
  &-active {
    opacity: 1;
    transition: all 0.5s ease;
  }
  &-inactive {
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all 0.5s ease;
  }
}
