.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 22%;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  background: #fff;
  height: 80%;
  margin-top: 8vh;
  animation-name: fade-in, slide-in-left;
  animation-duration: 1s, 1s;
  animation-fill-mode: forwards;
  .todo-info {
    display: flex;
    flex-direction: row;
    width: 100%;
    background: url("./assets/todoinfo-bg.png");
    background-size: cover;
    &-left {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 2.5rem;
        font-weight: 400;
        color: white;
        padding: 2rem 2.5rem;
      }
      span {
        font-size: 1rem;
        padding-bottom: 1.5rem;
        padding-inline: 2rem;
      }
    }
    &-right {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .todo-list {
    color: black;
    &-wrapper {
      min-width: 400px;
      min-height: 320px;
      overflow-y: hidden;
    }
    & > h1 {
      font-size: 0.9rem;
      font-weight: 400;
      padding: 1rem 1.5rem;
      width: 100%;
    }
    &-item {
      position: relative;
      display: flex;
      cursor: pointer;
      &:hover {
        background: #f5f5f5;
      }
      .content {
        display: flex;
        flex-direction: column;
        width: 70%;
        padding: 0.5rem 2rem;
        .title {
          font-size: 1rem;
          font-weight: 600;
        }
        .description {
          margin-top: 5px;
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
      .date-time {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 30%;
        div {
          font-size: 0.8rem;
          font-weight: 300;
        }
      }
      &::after {
        content: "";
        position: absolute;
        width: 90%;
        height: 1px;
        background: rgba(black, 0.2);
        bottom: -3px;
        left: 5%;
      }
    }
    .footer {
      display: flex;
      position: relative;
      .complete {
        padding: 1.5rem 1.5rem;
        font-size: 0.8rem;
        font-weight: 600;
        span {
          color: white;
          margin-left: 3px;
          padding: 0.3rem 0.6rem;
          border-radius: 50%;
          background: rgb(69, 173, 69);
        }
      }
      .add-todo-button {
        position: absolute;
        right: 1.5rem;
        bottom: 25%;
        font-size: 4rem;
        color: #2267d6;
        z-index: 99;
        cursor: pointer;
        &:hover {
          color: #7aacfc;
        }
      }
    }
  }
}
