.sidebar {
  background: $primary-color;
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 999;
  padding: 3rem 1.5rem;
  width: 12%;
  min-width: 200px;
  min-height: 95vh;
  &-body {
    &-menu {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      &-list {
        display: flex;
        gap: 1rem;
        font-size: 1.15rem;
      }
    }
  }
}
